backend/venv/
backend/env/
venv/

**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pyo
**/*.pyd

backend/data/

**/node_modules/

**/dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.env
**/.env.local
**/.env.*.local

**/secret.key
*.db

.vscode/
.idea/
.DS_Store
Thumbs.db